# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env
venv
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.pot
*.pyc
*.pyo
*.pyd
*.sql
*.sqlite3
db.sqlite3

# Migrations
*/migrations/*
migrations
migrations/
.migrations/

# Media
media/
staticfiles/

# Secret settings (e.g., environment variables)
.env

# Node modules (optional)
node_modules/
